@import "./_normalize";

$primary: #C295D8;
$secondary: #FCE2DB;
$light: #F6E5F5;
$danger: #ff4848;

$color-set: (
  primary: $primary,
  secondary: $secondary,
  light: $light,
  danger: $danger,
);

$shdow: 0 3px 15px rgba(black, 0.1);

@import "./_taginput";

html,
body {
  background-color: $secondary;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  input {
    margin-right: 0.5rem;
  }
}
input {
  display: inline-block;
  width: auto;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $light;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.15s;
  &:focus {
    background-color: darken($light, 5%);
  }
}
input[type="file"] {
  cursor: pointer;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @each $name, $val in $color-set {
    &.btn-#{$name} {
      @if ($name != light) {
        color: $light;
      }
      background-color: $val;

      &:hover,
      &:focus {
        background-color: darken($val, 5%);
      }
      &:active {
        background-color: darken($val, 10%);
      }
    }
  }
}

.thumbnail {
  position: relative;
  border-radius: 10px;
  box-shadow: $shdow;
  margin-bottom: 0.5rem;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .icon-delete {
    position: absolute;
    color: $light;
    background-color: $danger;
    right: -0.3rem;
    top: -0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    text-decoration: none;
    z-index: 99;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: darken($danger, 3%);
    }
    &:active {
      background-color: darken($danger, 10%);
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  // margin: 0 -5px;
  .column {
    padding: 0 5px;
    flex: 0 0 auto;
    width: 50%;
    box-sizing: border-box;
    @media screen and (min-width: 768px) {
      width: 25%;
    }
    @media screen and (min-width: 1440px) {
      width: 20%;
    }
  }
}

// productList filter的動畫
.meme-filter {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
}

.meme-filter-enter,
.meme-filter-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

.meme-filter-leave-active {
  position: absolute;
  z-index: -1;
}

.admin-bar,
.taginput-bar {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: $shdow;
  border-radius: 8px;
}
